<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title+" | " %><%= appName%></title>
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="/stylesheets/chat-room.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="layout-top-nav">
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content-header">
                <%- contentHeader %>
                <%- include('../partials/flash-message'); -%>
            </div>
            <div class="container-fluid">
                <div class="row"  style="display: flex;">
                <div class="col-md-9">
                    <%- body %>
                </div>
                <div class="col-md-3">
                    <%- include('../partials/chat/side-bar'); -%>
                </div>
            </div>
            </div>
        </div>
        <%- include('../partials/chat/footer'); -%>
    </div>
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/plugins/adminlte/js/adminlte.min.js"></script>

    <%- script %>
</body>
</html>